@font-face {
    font-family: "Grotesque Pro Thin";
    font-weight: 300;
    src: url("fonts/BasisGrotesquePro-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Reg";
    src: url("fonts/BasisGrotesquePro-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Med";
    src: url("fonts/BasisGrotesquePro-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Bold";
    src: url("fonts/BasisGrotesquePro-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Black";
    src: url("fonts/BasisGrotesquePro-Black.ttf");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Thin";
    src: url("fonts/ProximaNovaCond-Thin.ttf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Med";
    src: url("fonts/ProximaNovaCond-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed SemiBold";
    src: url("fonts/ProximaNovaCond-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Bold";
    src: url("fonts/ProximaNovaCond-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Black";
    src: url("fonts/ProximaNovaCond-Bold.ttf");
    font-weight: 900;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.res-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
}

.resoffer {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.rupee {
    font-weight: 400;
}

.rupee::before {
    content: "\20B9";
    margin-right: 0.1rem;
}

.resRating {
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
}

.resRating .avgRating {
    color: #3d9b6d;
    border-bottom: 1px solid #e9e9eb;
}

.resRating .totalRatings {
    color: #8b8d97;
}

.dottedDivider {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 18px;
}

.menuItem {
    border-bottom: .5px solid #d3d3d3;
}

.menuItem:last-child {
    border: none;
}

.addBtn {
    box-shadow: 0 3px 8px #e9e9eb;
}

.resMsg {
    color: rgb(245, 126, 71);
    background-color: #f1f1f6;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 14px 16px;
    margin-top: 16px;
    font-weight: 400;
}

.resMsg::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 64px;
    border: 9px solid transparent;
    border-bottom-color: #f1f1f6;
}

.filterBtn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 12px 20px;
    width: auto;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.searchInput {
    width: 250px;
}

.carousel-loading {
    background-color: #171a29;
    color: hsla(0, 0%, 100%, .8);
    text-align: center;
    padding: 0 20px;
}

.spinner {
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #ecebeb, hsla(0, 3%, 92%, .51) 53%, hsla(0, 3%, 92%, 0));
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    animation: rotate 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.spinner::after {
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: 72px;
    height: 72px;
    content: "";
    background-color: #171a29;
    border-radius: 50%;
    overflow: hidden;
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}

.scroll-left,
.scroll-right {
    border-radius: 100%;
    height: 34px;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
    cursor: pointer;
    opacity: 0.5;
}

.custom-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.landingpagebg {
    background: url("/images/landingpage.webp");
    background-size: cover;
    background-position: center center;
}


@media (max-width:1024px) {
    .text-shadow{
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    }
}