@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Grotesque Pro Thin";
    font-weight: 300;
    src: url("fonts/BasisGrotesquePro-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Reg";
    src: url("fonts/BasisGrotesquePro-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Med";
    src: url("fonts/BasisGrotesquePro-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Bold";
    src: url("fonts/BasisGrotesquePro-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Grotesque Pro Black";
    src: url("fonts/BasisGrotesquePro-Black.ttf");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Thin";
    src: url("fonts/ProximaNovaCond-Thin.ttf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Med";
    src: url("fonts/ProximaNovaCond-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed SemiBold";
    src: url("fonts/ProximaNovaCond-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Bold";
    src: url("fonts/ProximaNovaCond-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova Condensed Black";
    src: url("fonts/ProximaNovaCond-Bold.ttf");
    font-weight: 900;
    font-display: swap;
}

.sidebar-btn:hover .custom-underline::after {
    background-color: #fc8019;
}

.custom-underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #282c3f;
    height: 2px;
    width: 100%;
}

.scroll-left,
.scroll-right {
    border-radius: 100%;
    height: 34px;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
    cursor: pointer;
    opacity: .5;
}

.divider {
    border: 1px solid rgb(240, 240, 245);
    margin: 32px 0;
    color: rgba(2, 6, 12, 0.6);
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 8px 12px;
    width: auto;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.filter-btn.active{
    background-color: rgb(240, 240, 245);
    border: 1px solid rgb(54, 57, 62);
}

.filter-btn.active span{
    display: block;
}

.location::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px dashed #a9abb2;
    width: 80%;
    margin-left: 56px;
}

.rupee:before {
    content: "\20B9";
    margin-right: .1rem;
}

.accordion-body .item{
    border-bottom: .5px solid #d3d3d3;
    margin: 20px 0;
}

.accordion-body .item:last-child{
    border: none;
    margin: 0;
}

.label{
    text-shadow: 1px 1px 2px black;
}

.resMsg {
    color: rgb(245, 126, 71);
    background-color: #f1f1f6;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 14px 16px;
    margin-top: 16px;
    font-weight: 400;
}

.checkout-btns button{
  @apply font-ProximaNovaSemiBold w-36 py-3 px-3 md:text-lg transition-all;
}

.popup-anim{
    animation: 0.3s linear show-popup;
}

@keyframes show-popup {
    from {
        opacity: 0;
        bottom: -50px;
    }

    to {
        opacity: 1;
    }
}
